<div class="container ng-cloak">

    <div class="geckoboard">
      <h2 ng-class="{'increased': main.sum >= 0, 'decreased': main.sum < 0}">
        <span class="total" ng-bind="main.sum | currency : 'A$'"></span>
      </h2>

      <div class="row">
        <crypto-component ng-repeat="(key,value) in main.data track by $index"
            class="col-xs-12" info="main.currencies[key]" data="value" index="$index + 1">
        </crypto-component>
      </div>

      <!--<br/>-->
      <!--<button class="btn btn-default btn-primary pull-right" ng-click="main.showMore = !main.showMore">-->
        <!--{{ main.showMore ? 'Less' : 'More' }}...-->
      <!--</button>-->
      <!--<div ng-if="main.showMore">-->
        <!--<h4>Balances</h4>-->
        <!--<div ng-repeat="(key,value) in main.data ">-->
          <!--<div class="row">-->
            <!--<div class="col-xs-4">{{ main.currencies[key].krakenKey }}</div>-->
            <!--<div class="col-xs-4 text-right">{{ main.currencies[key].quantity | number : 4 }}</div>-->
            <!--<div class="col-xs-4 text-right">{{ value.value | currency  }}</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    </div>
  </div></div></div>


</div>
