@import url('https://fonts.googleapis.com/css?family=Roboto');

$grey: rgb(42,42,42);
$light-grey: rgb(127,127,127);
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$green: rgb(144, 197, 100);
$red: rgb(227, 82, 79);

$font-stack: 'Roboto', sans-serif;

// -----------------------------
// Base Sytles
// -----------------------------
body {
  color: $black;
  font-family: $font-stack;
  background-color: $white;
}


// -----------------------------
// Bootstrap Overrides Sytles
// -----------------------------
.container {
  width: 100%;
}


// -----------------------------
// Custom Sytles
// -----------------------------
.geckoboard {
  color: $light-grey;
  background-color: $white;

  h2 {
    font-size: 3em;
    font-weight: 500;
    float: right;
  }
}

.info {
  display: flex;
  width: 100%;
  font-size: 1em;
  justify-content: center;
}
.box {
  display: flex;
  width: 100%;
  font-size: 1.3em;
  padding: 5px 0;
  border-top: 1px solid $light-grey;
  justify-content: center;
  text-align: center;
  align-items: center;

  .index {
    padding: 0 5px;
    font-size: 80%;
    line-height: 30px;
  }

  .currency {
    color: $light-grey;
    //border-left: 1px solid $light-grey;
    padding: 3px 5px;
  }

  .rate {
    font-size: 0.75em;
    margin-left: 10px;
  }

  .price {
    margin-left: auto;
    border: 1px solid;
    border-radius: 2px;
    padding: 3px 2px;
  }


}

//arrow
.increased, .decreased {
  .suffix {
    font-size: 1.5em;
  }

  .arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    display: inline-block;
  }

  .total {
    color: $light-grey;
  }
}

.increased {
  color: $green;
  .arrow {
    border-bottom: 7px solid $green;
  }
}

.decreased {
  color: $red;
  .arrow {
    border-top: 7px solid $red;
  }
}

