<div class="box">

  <div class="currency">
    <img src="https://www.coincap.io/images/coins/{{cryptoComponentVm.info.name}}.png" width="20px" />
    {{cryptoComponentVm.info.name}}
    {{cryptoComponentVm.info.krakenKey }}
  </div>



  <div class="rate" ng-if="cryptoComponentVm.data.coincap" ng-class="{'increased': cryptoComponentVm.data.coincap.increased, 'decreased': !cryptoComponentVm.data.coincap.increased}">
    <div class="arrow"></div> {{ cryptoComponentVm.data.coincap.rate | number: 2 }}%
  </div>

  <div class="price" ng-if="cryptoComponentVm.data.kraken" ng-class="{'increased': cryptoComponentVm.data.coincap.increased, 'decreased': !cryptoComponentVm.data.coincap.increased}">
    {{ cryptoComponentVm.data.kraken.b[0] | currency : '$' : cryptoComponentVm.info.fractionSize }}
  </div>

</div>



<!--<div class="info">-->
  <!--<label>-->
    <!--Value:-->
  <!--</label>-->
  <!--<div class="value">{{ cryptoComponentVm.data.value | currency }}</div>-->
<!--</div>-->
